.main-wraper{
    display: flex;
    height: 50vh   
}

#div-1{
    width: 100px;
    height: 100px;
    background-color: red;
  
}

#div-2{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
}

p{
    position: absolute;
    left: 0px;
   
    color: black;
}

button {
    background-color: rgb(103, 165, 106);
}