* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    padding: 5vh 0;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.menu {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-task {
    display: flex;
    width: 50%;
    margin-bottom: 15px;    
}

.todo-input {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    background-color: white;
    width: 100%;
    outline: none;      
}

.todo-button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    color: #ff6f47;
    cursor: pointer;
    background-color: white;
    transition: all 0.3s ease;
}

.todo-button:hover {
    background-color:#ff6f47;
    color: white;
}

.select {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: flex-end;       
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #ff6f47;
    background-color: white;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    font-size: 18px;
    width: 150px;
}

.select::after{
    content: '\25BC';
    position: absolute;
    background: #ff6f47;
    padding: 0.5rem 0.5rem;  
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 14px;    
}

.select:hover::after {
    background-color: white;
    color: #ff6f47;    
}

.todo-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size:  1.5 rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;    
}

.drag-handle {
    padding: 0px 20px;

}

.todo-item{
    flex: 1;
    font-size: 20px;
    overflow: auto;
}

.space {
    width: 10px;
    height: 10px;
}

.trash-btn, .complete-btn {
    background-color: rgb(73, 204, 73);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem; 
}

.complete-btn:hover {
    background-color: rgb(78, 252, 78);
}

.trash-btn {
    background: #ff6447;
    border-radius: 0px 10px 10px 0px;
}

.trash-btn:hover {
    background-color: #f74525;
}


.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: rotateZ(20deg) translateY(200px) ; 
    opacity: 0;
    transition: all 0.5s;
}


@media only screen and (max-width: 600px) {
    .add-task {
        width: 90%;
    }

    .todo-list {
        width: 90%;
    }

    .select {
        width: 90%;
    }

    .todo-container {
        margin-top: 30px;
    }  
}

::-webkit-scrollbar{
    height:5px;
}

::-webkit-scrollbar-thumb{
    background: rgb(219, 219, 202);
    border-radius: 10px;
}

